body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url("../images/backgroundpc.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

ul {
    width: 100%;
    top: 0;
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
      
li {
    float: left;
}
      
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
      
li a:hover {
    background-color: #111;
}
.logoutnav{
    float: right !important;
}
.logoutnav :hover{
    background-color: red;
}

.loginbox{
    margin-top: 5% !important;
    width: 300px;
    margin: 0 auto;
    transform: translate(50%-50%);
    color: white;
    border: solid 2px red;
    padding: 10px;
}

.loginbox H1 {
    font-size: 40px;
    border-bottom: 1px solid red;
}
.registerbox{
    margin-top: 2% !important;
    width: 350px;
    margin: 0 auto;
    transform: translate(50%-50%);
    color: white;
    border: solid 2px red;
    padding: 10px;
    
}
.textbox {
    width: 100%;
    display: inline-block;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid red;
}
.textbox input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}
.registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
.loginbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
.cancelbtn{
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
.containerterms {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: white;
    background-size: cover;
}
.termsbox H1{
    float: top;
    text-align: center;
    font-size: 40px;
    border-bottom: 1px solid black;
}
.termsbox{
    width: 800px;
    position: absolute;
    top: 10%;
    left: 30%;
    transform: translate(50%-50%);
    color: black;
}

.deletebox{
    width: 280px;
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(50%-50%);
    color: white;
}

.diarytext{
    color:blue;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
}
.custom-error {
    color: red;
    font-weight: bold;
    display: block;    
}